* {
  letter-spacing: 1px;
  box-sizing: border-box;
}

html {
  font-size: 18px;

  @media (min-width: 641px) {
    font-size: 20px;
  }

  @media (min-width: 1281px) {
    font-size: 22px;
  }
}

body {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  font-weight: 300;
  line-height: 1.15;
}

input,
button {
  color: $color-black;
}

input {
  padding: 0.5em;
  border: 1px solid $color-medium-grey;
}

li {
  margin-bottom: 0.5em;
}

li,
p {
  line-height: 1.5;
}

a {
  color: $color-pink;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px dotted transparent;
  transition: color ease-in 0.3s, border-bottom ease-in 0.3s;

  &:hover {
    color: $color-pink-darker;
    border-bottom: 1px dotted $color-pink-darker;
  }
}
