* {
  letter-spacing: 1px;
}

html {
  font-size: 18px;

  @media (min-width: 641px) {
    font-size: 20px;
  }

  @media (min-width: 1281px) {
    font-size: 22px;
  }
}

body {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 300;
}

input {
  color: $color-black;
}
