@define-mixin font_size_one $fixed:false {
  @if $fixed == true {
    font-size: 11px;
  }

  @else {
    font-size: 0.61rem;
  }
}

@define-mixin font_size_two $fixed:false {
  @if $fixed == true {
    font-size: 14px;
  }

  @else {
    font-size: 0.78rem;
  }
}

@define-mixin font_size_three $fixed:false:false {
  @if $fixed == true {
    font-size: 18px;
  }

  @else {
    font-size: 1rem;
  }
}

@define-mixin font_size_four $fixed:false {
  @if $fixed == true {
    font-size: 23px;
  }

  @else {
    font-size: 1.28rem;
  }
}

@define-mixin font_size_five $fixed:false {
  @if $fixed == true {
    font-size: 29px;
  }

  @else {
    font-size: 1.61rem;
  }
}

@define-mixin font_size_six $fixed:false {
  @if $fixed == true {
    font-size: 36px;
  }

  @else {
    font-size: 2rem;
  }
}

@define-mixin font_size_seven $fixed:false {
  @if $fixed == true {
    font-size: 45px;
  }

  @else {
    font-size: 2.5rem;
  }
}
