.a-button {
  padding: 0.5em 0.6em;
  border: 0;
  background-color: $color-pink;
  color: white;
  cursor: pointer;
  transition: background-color ease-in 0.3s;

  &:hover {
    background-color: $color-pink-darker;
  }

  .m-postbox__fieldset:disabled & {
    &:hover {
      background-color: $color-pink;
    }
  }

  &:focus {
    outline: 1px dotted $color-pink;
    outline-offset: 0;
  }
}
