.a-icon-button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  .a-icon {
    width: auto;
    height: 100%;
    vertical-align: top;
  }
}

.a-icon-button--bg {
  padding: 6px;
  background-color: $color-white-smoke;
  border: 1px solid $color-medium-grey;
  transition: all .5s;

  &:hover {
    background-color: $color-light-grey;
  }

  &:active {
    border: 1px solid $color-dark-grey;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
  }

  &:focus {
    outline: 0;
    border: 1px solid #51a7e8;
  }
}
