.a-tooltip {
  position: relative;
  @mixin font_size_one;

  &:hover,
  &:focus {
    &:before, &:after {
      display: block;
      animation: fade-in 0.2s ease-in forwards 0.4s;
    }
  }
}

.a-tooltip::before {
  display: none;
  position: absolute;
  z-index: 1000001;
  top: auto;
  right: 50%;
  bottom: -5px;
  width: 0;
  height: 0;
  margin-right: -5px;
  pointer-events: none;
  content: "";
  border: 5px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.a-tooltip::after {
  display: none;
  position: absolute;
  z-index: 1000000;
  top: 100%;
  right: 50%;
  margin-top: 5px;
  padding: 0.5em 0.6em;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(50%);
  opacity: 0;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
